.alignleft {text-align: left}
.alignright {text-align: right}

.list {border-collapse: collapse; border: 1px solid lightgray}
.list td {border: 1px solid lightgray; padding: 2px 6px}
.listheading {background-color: lightgray; font-weight: bold}
.listheading td {white-space: nowrap}
.listrowodd { background-color: white}
.listroweven {background-color: lavender}

/* JQuery */

.ui-datepicker {z-index: 4 !important;}

.sortableHeader {cursor: pointer}