<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<div th:fragment="filmList" id="results-block">
    <table id="filmTable" style="margin: 0 auto" class="table is-narrow is-hoverable">
        <thead>
        <tr>
            <th></th>
            <th class="sortableHeader" onclick="sortFilms(this, 'title')">Title
                <span th:if="${filmSearchForm.sortColumn eq 'title' and filmSearchForm.sortDirection eq 'asc'}">&#9650;</span>
                <span th:if="${filmSearchForm.sortColumn eq 'title' and filmSearchForm.sortDirection eq 'desc'}">&#9660;</span>
            </th>
            <th class="sortableHeader alignright" onclick="sortFilms(this, 'released')">Year
                <span th:if="${filmSearchForm.sortColumn eq 'released' and filmSearchForm.sortDirection eq 'asc'}">&#9650;</span>
                <span th:if="${filmSearchForm.sortColumn eq 'released' and filmSearchForm.sortDirection eq 'desc'}">&#9660;</span>
            </th>
            <th class="sortableHeader mediumPriority alignright" onclick="sortFilms(this, 'userVoteAverage')">Rating
                <span th:if="${filmSearchForm.sortColumn eq 'userVoteAverage' and filmSearchForm.sortDirection eq 'asc'}">&#9650;</span>
                <span th:if="${filmSearchForm.sortColumn eq 'userVoteAverage' and filmSearchForm.sortDirection eq 'desc'}">&#9660;</span>
            </th>
            <th class="sortableHeader lowPriority alignright" onclick="sortFilms(this, 'userVoteCount')">Votes
                <span th:if="${filmSearchForm.sortColumn eq 'userVoteCount' and filmSearchForm.sortDirection eq 'asc'}">&#9650;</span>
                <span th:if="${filmSearchForm.sortColumn eq 'userVoteCount' and filmSearchForm.sortDirection eq 'desc'}">&#9660;</span>
            </th>
            <th class="sortableHeader lowPriority" onclick="sortFilms(this, 'language')">Language
                <span th:if="${filmSearchForm.sortColumn eq 'language' and filmSearchForm.sortDirection eq 'asc'}">&#9650;</span>
                <span th:if="${filmSearchForm.sortColumn eq 'language' and filmSearchForm.sortDirection eq 'desc'}">&#9660;</span>
            </th>
            <th class="lowPriority">Genres</th>
        </tr>
        </thead>

        <tbody id="myTBody">
            <th:block th:each="film,loop : ${filmSearchResult.pageOfResults}">
                <tr>
                    <td class="has-text-right" th:text="${loop.count + ((filmSearchResult.page - 1) * filmSearchResult.pageSize)}"></td>
                    <td>
                        <span th:text="${film.title}"
                              th:data-1="${film.imdbId}"
                              th:data-2="${film.posterPath}"
                              th:onclick="toggleRow(this.getAttribute('data-1'), this.getAttribute('data-2'))"
                              style="cursor: pointer"
                              class="has-text-link">
                        </span>
                    </td>
                    <td class="has-text-right" th:text="${film.released.year}"></td>
                    <td class="has-text-right mediumPriority"                th:text="${film.userVoteAverage}"></td>
                    <td class="has-text-right lowPriority" th:text="${#numbers.formatInteger(film.userVoteCount, 0, 'COMMA')}"></td>
                    <td class="lowPriority" th:text="${film.language.name}"></td>
                    <td class="lowPriority" th:text="${film.genreString}"></td>
                </tr>

                <tr th:id="${film.imdbId + '_secondRow'}" style="display: none">
                    <td colspan="100" class="aligncenter" style="height: 200px; padding: 1px 3px;">
                        <div th:id="${film.imdbId + '_animatedDiv'}" style="display: none; max-width: 700px; margin: 0 auto;">
                            <div style="float: left; padding-right: 10pt">
                                <img th:id="${film.imdbId + '_poster'}"
                                     th:data-url="${film.posterPath}"
                                     src="" style="margin: 0 auto;"/>
                            </div>
                            <div style="width: 100%; text-align: left;">
                                <div><b>Running Time: </b></div>
                                <div th:text="${film.runtime}"></div>
                                <div><b>Director: </b></div>
                                <div th:text="${film.director}"></div>
                                <div><b>Actors: </b></div>
                                <div th:text="${film.actors}"></div>
                                <div><b>Plot: </b></div>
                                <div th:text="${film.overview}"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>

            <tr th:if="${filmSearchResult.searchResults.isEmpty()}">
                <td colspan="100">No films found...</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="100" style="text-align: center;">
                    <input class="button is-small firstButton" type="button" value="First" onclick="goToPage('first')" th:disabled="${!filmSearchResult.hasPrevious}" />
                    <input class="button is-small previousButton" type="button" value="Previous" onclick="goToPage('previous')" th:disabled="${!filmSearchResult.hasPrevious}" />

                    <button class="button is-small is-static" th:title="${#numbers.formatInteger(filmSearchResult.size, 0, 'COMMA') + ' Results'}">
                        <span class="currentPageSpan" th:text="${#numbers.formatInteger(filmSearchResult.page, 0)}"></span>
                        /
                        <span th:text="${#numbers.formatInteger(filmSearchResult.pages, 0)}"></span>
                    </button>

                    <input class="button is-small nextButton" type="button" value="Next" onclick="goToPage('next')" th:disabled="${!filmSearchResult.hasNext}" />
                    <input class="button is-small lastButton" type="button" value="Last" onclick="goToPage('last')" th:disabled="${!filmSearchResult.hasNext}" />
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</body>
</html>