<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cinemang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>

    <link rel="stylesheet"    th:href="@{/styles/cinemang.css}" media="screen" type="text/css"  >

    <script th:src="@{/js/auto-complete.min.js}"></script>
    <link rel="stylesheet" th:href="@{/js/auto-complete.css}">

    <link href="https://fonts.googleapis.com/css?family=Bellota|Bellota+Text|Montserrat|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" media="screen" type="text/css" >
    <link rel="stylesheet" type="text/css" href="styles/bulma-prefers-dark.min.css" />
    <script src="https://kit.fontawesome.com/eb9542ee7f.js" crossorigin="anonymous"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var page = [[${filmSearchResult.page}]];
        var pages = [[${filmSearchResult.pages}]];
        var sortColumn = [[${filmSearchForm.sortColumn}]];
        var sortDirection = [[${filmSearchForm.sortDirection}]];
        var context = /*[[@{/}]]*/ 'test';

        function sortFilms(element, column)
        {
            var previousColumn = sortColumn;
            var previousDirection = sortDirection;
            var direction = 'desc';
            if (column === previousColumn)
            {
                if (previousDirection === 'asc') direction = 'desc';
                if (previousDirection === 'desc') direction = 'asc';
            }
            document.getElementById('sortColumn').value = column;
            document.getElementById('sortDirection').value = direction;
            sortColumn = column;
            sortDirection = direction;

            ajaxFilms('', column, direction);
        }

        function goToPage(pageNumber)
        {
            var parsedPage = '';
            if (pageNumber === 'first') parsedPage = 1;
            if (pageNumber === 'last') parsedPage = pages;
            if (pageNumber === 'next') parsedPage = (page + 1);
            if (pageNumber === 'previous') parsedPage = (page - 1);

            page = parsedPage;
            document.getElementById('page').value = parsedPage;

            document.querySelector('.currentPageSpan').textContent = parsedPage;

            if (parsedPage == 1)
            {
                document.querySelector('.firstButton').disabled = true;
                document.querySelector('.previousButton').disabled = true;
            } else
            {
                document.querySelector('.firstButton').disabled = false;
                document.querySelector('.previousButton').disabled = false;
            }
            if (parsedPage == [[${filmSearchResult.pages}]])
            {
                document.querySelector('.nextButton').disabled = true;
                document.querySelector('.lastButton').disabled = true;
            } else
            {
                document.querySelector('.nextButton').disabled = false;
                document.querySelector('.lastButton').disabled = false;
            }

            ajaxFilms(parsedPage, '', '');
        }

        function resetPagination()
        {
            document.getElementById('resetPage').value = 'yes';
        }

        function ajaxFilms(newPage, newSortColumn, newSortDirection)
        {
            var params = {};
            if (newPage) params.page = newPage;
            if (newSortColumn) params.sortColumn = newSortColumn;
            if (newSortDirection) params.sortDirection = newSortDirection;

            var paramString = '';
            for (var key in params)
            {
                // skip loop if the property is from prototype
                if (!params.hasOwnProperty(key)) continue;

                var value = params[key];
                if (paramString.length > 0)
                    paramString += '&';
                paramString += key + '=' + value;
            }

            fetch(context + 'films?' + paramString)
                .then(function (response) {
                    console.log('page received');
                    return response.text();
                }).then(function (text) {
                document.getElementById('tableContainer').innerHTML = text;
            });
        }

        function toggleRow(imdbId, posterPath)
        {
            var secondRow = document.getElementById(imdbId + '_secondRow');
            var animatedDiv = document.getElementById(imdbId + '_animatedDiv');
            var poster = document.getElementById(imdbId + '_poster');

            // make visible
            if (secondRow.style.display === 'none')
            {
                secondRow.style.display = 'table-row';
                animatedDiv.style.display = 'block';
                var url = 'https://image.tmdb.org/t/p/w342' + poster.getAttribute('data-url');
                poster.setAttribute('src', url);
            }
            // make hidden
            else
            {
                animatedDiv.style.display = 'none';
                secondRow.style.display = 'none';
            }
        }

        // initialize autocomplete
        document.addEventListener('DOMContentLoaded', function() {
            var my_autoComplete = new autoComplete(
                {
                    selector: '#title',
                    source: function (term, suggest) {
                        term = term.toLowerCase();

                        fetch(context + 'films/titles' + '?term=' + term)
                            .then(function (response) {
                                console.log('page received');
                                return response.json();
                            }).then(function (json) {
                            suggest(json);
                        });

                    },
                    renderItem: function (item, search){
                        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                        return '<div title="' + item + '" class="autocomplete-suggestion" data-val="' + item + '">' + item.replace(re, "<strong>$1</strong>") + '</div>';
                    }
                });
        }, false);

        /*]]>*/
    </script>

</head>
<body>

<section class="hero is-light is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" style="font-family: 'Montserrat', sans-serif;">
                <span class="icon has-text-danger">
                    <i class="fas fa-film"></i>
                </span>
                <span class="has-text-success">Cine</span><span class="has-text-link">Mang</span>
                <span class="icon has-text-grey">
                    <i class="fas fa-cat"></i>
                </span>
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <div class="box">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label"></label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="subtitle">Search</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form name="frmFilter" id="frmFilter" method="post" th:action="@{/films/search}" th:object="${filmSearchForm}">
                        <input type="hidden" name="page" id="page" th:value="${filmSearchResult.page}"/>
                        <input type="hidden" name="resetPage" id="resetPage" th:value="false"/>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Title</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-normal" id="title" name="title" type="text" th:value="${filmSearchForm.title}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Minimum Votes</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-normal" id="minVotes" name="minVotes" type="number"
                                               th:value="${filmSearchForm.minVotes}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Released</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input is-normal" type="date" id="fromReleaseDate" name="fromReleaseDate" th:value="${filmSearchForm.fromReleaseDate}">
                                        <span class="icon is-normal is-left">
                                            <i class="fas fa-calendar"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded has-icons-left has-icons-right">
                                        <input class="input is-normal" type="date" id="toReleaseDate" name="toReleaseDate" th:value="${filmSearchForm.toReleaseDate}">
                                        <span class="icon is-normal is-left">
                                            <i class="fas fa-calendar"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Rating</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input is-normal" type="number" id="fromRating" name="fromRating" min="0" max="9.9" step=".1" th:value="${filmSearchForm.fromRating}">
                                        <span class="icon is-normal is-left">
                                            <i class="far fa-star"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded has-icons-left has-icons-right">
                                        <input class="input is-normal" type="number" id="toRating" name="toRating" min="0.1" max="10" step=".1" th:value="${filmSearchForm.toRating}">
                                        <span class="icon is-normal is-left">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Language</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-normal is-fullwidth">
                                            <select id="language" name="language">
                                                <option value="" th:selected="${filmSearchForm.language == ''}">Any</option>
                                                <option th:each="language : ${languages}" th:value="${language.getId()}" th:text="${language.getName()}"
                                                        th:selected="${filmSearchForm.language == language}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Genre</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-normal is-fullwidth">
                                            <select id="genre" name="genre">
                                                <option value="" th:selected="${filmSearchForm.genre == ''}">Any</option>
                                                <option th:each="genre : ${genres}" th:value="${genre.getId()}" th:text="${genre.getName()}"
                                                        th:selected="${filmSearchForm.genre == genre}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Sort By</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-normal is-fullwidth">
                                            <select th:field="*{sortColumn}">
                                                <option th:value="'title'" th:text="'Title'"></option>
                                                <option th:value="'released'" th:text="'Year'"></option>
                                                <option th:value="'userVoteAverage'" th:text="'Rating'"></option>
                                                <option th:value="'userVoteCount'" th:text="'Vote Count'"></option>
                                                <option th:value="'language'" th:text="'Language'"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-normal is-fullwidth">
                                            <select th:field="*{sortDirection}">
                                                <option th:value="'asc'" th:text="'Asc'"></option>
                                                <option th:value="'desc'" th:text="'Desc'"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Show Results As</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-normal is-fullwidth">
                                            <select th:field="*{resultView}">
                                                <option th:value="'filmList'" th:text="'Table'"></option>
                                                <option th:value="'filmMediaItems'" th:text="'Media Items'"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-primary" onclick="resetPagination();">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="">
    <div class="container">
        <div class="columns is-gapless is-centered">
            <div class="column is-two-thirds">
                <div class="box">
                    <div id="tableContainer">
                        <th:block th:if="${filmSearchForm.resultView eq 'filmList'}">
                            <div th:replace="filmList"></div>
                        </th:block>
                        <th:block th:if="${filmSearchForm.resultView eq 'filmMediaItems'}">
                            <div th:replace="filmMediaItems"></div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<br />
<footer class="footer">
    <div class="content has-text-centered">
        <a href="https://github.com/ehicks05/puffin"><strong>Cinemang</strong></a>
        by <a href="https://ehicks.net">Eric Hicks</a>
        <br />
        <figure class="image is-128x128" style="display: inline-block;">
            <img alt="tmdbLogo" src="https://www.themoviedb.org/assets/2/v4/logos/powered-by-rectangle-green-dcada16968ed648d5eb3b36bbcfdd8cdf804f723dcca775c8f2bf4cea025aad6.svg"/>
        </figure>
    </div>
</footer>

</body>
</html>