body {font-family: 'Open Sans', sans-serif !important; background: linear-gradient(to top right, #2f6080, #2f7f5d); margin: 0;}

/* Tables */
.alignleft {text-align: left}
.aligncenter {text-align: center}
.alignright {text-align: right}

.notecard td {border: none;}

/* JQuery */
.ui-dialog {font-size: 11pt;}

.sortableHeader {cursor: pointer; color: navy}
.sortableHeaderSelected {cursor: pointer; color: white;}

/* Media */
@media (min-width: 1175px)
{
}
@media (min-width: 900px) and (max-width: 1174px)
{
    .lowPriority {display:none;}
}
@media (min-width: 700px) and (max-width: 899px)
{
    .mediumPriority {display:none;}
    .lowPriority {display:none;}
}
@media (max-width: 699px)
{
    .mediumPriority {display:none;}
    .lowPriority {display:none;}
}